.page-header
	%h1
		= @user.full_name
	- if @statuses
		- @statuses.each do|status|
			.well
				%p
					= status.content
				.meta
					= link_to time_ago_in_words(status.created_at), status_path(status)
					ago